{% extends "layouts/main.twig" %}

{% block title %}Draft
{% endblock %}

{% block content %}
	{% include "partials/team-table.twig" with teams %}
	<a class="ui button start" href="javascript:void(0)">Start</a>
	<div id="graph" data-gameweek="0"></div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
{% endblock %}
